{#
/**
* @file
* Default theme implementation to the pseudo field Title.
*
* Available variables:
* - pseudotitle: HTML for the pseudo field Title.
*
* @ingroup themeable
*/
#}
<{{ titleheader }} class="title" id="{{ titletype }}">{{ pseudotitle }}</h1>