{#
/**
* @file
* Default theme implementation to the pseudo field Title.
*
* Available variables:
* - day: HTML for the pseudo field Day.
*
* @ingroup themeable
*/
#}
<div class="post-date">
  <span class="day">{{ day }}</span>
  <span class="month">{{ month }}</span>
</div>