{#
/**
* @file
* Default theme implementation to the pseudo field Title.
*
* Available variables:
* - day: HTML for the pseudo field Day.
*
* @ingroup themeable
*/
#}
<div class="custom-author">
<i class="fas fa-clock"></i>{{ time }}
</div>